# Pr√©parer les donn√©es pour l‚Äôentra√Ænement

### Import des librairies

In [71]:
import pandas as pd
import plotly.express as px

In [ ]:
### Importation des librrairies
df_films = pd.read_csv("../data/films.csv")
df_films_fr = pd.read_csv("../data/films_fr.csv")
df_livres = pd.read_csv("../data/livres.csv")
df_musiques = pd.read_csv("../data/musiques.csv")

In [ ]:
# Concatenation des donn√©es
df_fusion  = pd.concat([df_films_fr, df_films, df_livres, df_musiques])
df_fusion.shape

(3620, 9)

In [77]:
df_fusion.columns

Index(['titre', 'langue', 'genre', 'description', 'annee', 'source', 'auteur',
       'artiste', 'album'],
      dtype='object')

In [78]:
# Types de donn√©es
df_fusion.dtypes

titre           object
langue          object
genre           object
description     object
annee          float64
source          object
auteur          object
artiste         object
album           object
dtype: object

In [79]:
# separer les colonnes num√©riques des colonnes categorielles
num_cols = df_fusion.select_dtypes(exclude="object")
cat_cols = df_fusion.select_dtypes(include="object")

In [87]:
# Verification des valeurs null
(df_fusion.isnull().sum() / len(df_fusion)) * 100

titre           0.000000
langue          0.000000
genre           0.000000
description    82.044199
annee           0.220994
source          0.000000
auteur         82.320442
artiste        17.955801
album          17.955801
dtype: float64

In [81]:
# Gestion des valeurs manquantes
num_cols.drop(columns="annee", inplace=True, axis=1)
cat_cols.drop(columns="album", inplace=True, axis=1)
cat_cols.fillna("", inplace=True, axis=1)

In [82]:
df = pd.concat([cat_cols, num_cols], axis=1)
df.isnull().sum()

titre          0
langue         0
genre          0
description    0
source         0
auteur         0
artiste        0
dtype: int64

In [83]:
df.head()

,titre,langue,genre,description,source,auteur,artiste
0,Le Seigneur des anneaux : le retour du roi (ve...,fran√ßais,4,"Les arm√©es de Sauron ont attaqu√© Minas Tirith,...",https://www.allocine.fr/film/fichefilm_gen_cfi...,,
1,Le Seigneur des anneaux : la communaut√© de l'a...,fran√ßais,4,"Dans ce chapitre de la trilogie, le jeune et t...",https://www.allocine.fr/film/fichefilm_gen_cfi...,,
2,Le Seigneur des anneaux : les deux tours (vers...,fran√ßais,4,Apr√®s la mort de Boromir et la disparition de ...,https://www.allocine.fr/film/fichefilm_gen_cfi...,,
3,Forrest Gump,fran√ßais,5,"Quelques d√©cennies d'histoire am√©ricaine, des ...",https://www.allocine.fr/film/fichefilm_gen_cfi...,,
4,La Liste de Schindler,fran√ßais,2,Evocation des ann√©es de guerre d'Oskar Schindl...,https://www.allocine.fr/film/fichefilm_gen_cfi...,,

In [86]:
nb_doublons = df.duplicated().sum()
print(f"üîç Nombre de doublons d√©tect√©s : {nb_doublons}")

üîç Nombre de doublons d√©tect√©s : 2574